* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#top-page {
    position: relative;
    background-color: aquamarine;
    padding: 5px;
}

.welHeader {
    font-size: 45px;
    position: relative;
    top: 40px;
}

#top-info {
    position: relative;
    left: 75%; 
    word-spacing: 5px;
    
}

li {
    display: inline;
}